body {
  background-color: #bcbcbc;
}

.container {
  text-align: center;
  display: block;
  margin-left: 37%;
  margin-right: 37%;
  padding: 40px 20px;
  border: 2px solid rgb(230, 141, 141);
  border-radius: 10px;
  background-color: rgb(146, 146, 80);
}

.container input {
  width: 250px;
  height: 40px;
  border-radius: 20px;
  box-shadow: 4px 6px rgba(0, 0, 0, 0.3);
  
}

.weatherDetails h1{
  color: rgb(75, 75, 161);
}

.weatherDetails h2{
  margin: 0;
}

.temp {
  display: flex;
  align-items: center;
  justify-content: center;
}

.temp p {
  padding: 10px;
}
